.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #f5efee;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f5efee;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #d7c1b9;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #b0112f;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #d8c3bb;
}
.react-calendar__tile--now {
  background: #d7c1b9;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #7c565d;
}
.react-calendar__tile--hasActive {
  background: #7c565d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #cfb5ab;
}
.react-calendar__tile--active {
  background: #6d4b52;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #725056;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #cfb5ab;
}

/* DARK THEME */

.react-calendar-dark {
  background: #121212;
  color: #adffff;
}
.react-calendar-dark button {
  color: #adffff;
}
.react-calendar-dark__navigation button:disabled {
  background-color: #121212;
  color: #adffff;
}
.react-calendar-dark__navigation button:enabled:hover,
.react-calendar-dark__navigation button:enabled:focus {
  background-color: #9c75d1;
}
.react-calendar-dark__month-view__days__day--weekend {
  color: #d93250;
}
.react-calendar-dark__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar-dark__tile:disabled {
  background-color: #adffff;
}
.react-calendar-dark__tile:enabled:hover,
.react-calendar-dark__tile:enabled:focus {
  background-color: #bbd8bc;
}
.react-calendar-dark__tile--now {
  background: #8557c7;
}
.react-calendar-dark__tile--now:enabled:hover,
.react-calendar-dark__tile--now:enabled:focus {
  background: #8557c7;
}
.react-calendar-dark__tile--hasActive {
  background: #703db8;
}
.react-calendar-dark__tile--hasActive:enabled:hover,
.react-calendar-dark__tile--hasActive:enabled:focus {
  background: #9c75d1;
}
.react-calendar-dark__tile--active {
  background: #292929;
  color: #adffff;
}
.react-calendar-dark__tile--active:enabled:hover,
.react-calendar-dark__tile--active:enabled:focus {
  background: #8557c7;
}
.react-calendar-dark--selectRange .react-calendar__tile--hover {
  background-color: #703db8;
}
